secret:
  WATSON_ASSISTANT_VERSION: "2019-02-28"
  WATSON_ASSISTANT_API_KEY: "8ed51smuswrAaWQD0RRX8ed51smuswrAaWQD0RRX"
  WATSON_ASSISTANT_URL: "https://gateway-lon.watsonplatform.net/assistant/api"
  WATSON_ASSISTANT_ID: "8ed51smuswrAaWQD0RRX8ed51smuswrAaWQD0RRX"
  RUNTIME_ENV: "local"